<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Superhero Sightings</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
    <div class="container">
        <!-- Page header -->
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Superhero Sightings</h1>
            </div>
        </div>
        <!-- END Page header -->
        <!-- Navbar -->
        <div class="row m-4 border border-dark">
             <div class="col text-center m-2">
                <a href="" class="btn btn-outline-secondary btn-lg">Home</a>
             </div>
            
            <div class="col text-center m-2">
                <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes</a>
            </div>
            
            <div class="col text-center m-2">
                <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
            </div>
            
            <div class="col text-center m-2">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            
            <div class="col text-center m-2">
                <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            
            <div class="col text-center m-2">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>           
        </div>
        <!-- END Navbar -->
        <!-- Insights -->
        <div class="m-4 border border-dark">
            <h3 class="col text-center my-3">Insights</h3>
            <div th:each="title : ${insightsList}" class="row my-1">
                <div class="col text-right font-weight-bold" th:text="${title}">insight title</div>
                <div class="col text-left">
                    <span th:text="${insights.get(title)}">display insight</span>
                </div>
            </div>
        </div>
        <!-- END Insights -->
        <!-- Hero sightings table -->
        <div class="m-4 border border-dark">
            <div class="row">
                <h3 class="col text-center my-3">Last 10 sightings</h3>
            </div>
            <div class="row">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Hero</th>
                                <th>Alignment</th>
                                <th>Location</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="sighting : ${sightings}">
                                <td>
                                    <a href="#"
                                       th:href="@{/heroes/detailsHero(id=${heroSightings.get(sighting).id})}"
                                       th:text="${heroSightings.get(sighting).name}"></a>
                                </td>

                                <td th:if='${heroSightings.get(sighting).isHero}'>Superhero</td>
                                <td th:unless='${heroSightings.get(sighting).isHero}'>Supervillain</td>

                                <td>
                                    <a href="#"
                                        th:href="@{/locations/detailsLocation(id=${sighting.location.id})}"
                                        th:text="${
                                        sighting.location.name 
                                        + ' (' 
                                        + sighting.location.latitude 
                                        +' , '
                                        + sighting.location.longitude 
                                        + ')'}"></a>
                                </td>

                                <td th:text="${sighting.date}">Date</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Hero sightings table -->
        <div class="text-center">
            <img th:src="${googleMapUrl}" class="rounded"/>
        </div>
    </div> 
    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
